.menu-bar{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

@keyframes cog-move{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

.menu-bar .fa-cog:hover{
    animation: 1s cog-move ease-in-out infinite;
}

.menu-bar__title{
    font-size: 25px;
    font-weight: 700;
}

.menu-bar__icon{
    display: flex;
    align-items: center;
}

.menu-bar__icon i{
    margin-left: 20px;
    font-size: 20px;
}